@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500&display=swap");
/*FONT*/
/*COLOR*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #080010;
  overflow-x: hidden;
}

section {
  padding: 50px 80px;
}
@media (max-width: 767px) {
  section {
    padding: 20px;
  }
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Readex Pro", sans-serif;
  font-size: 46px;
  text-align: center;
  font-weight: 500;
}
@media (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-weight: 500;
}
@media (max-width: 767px) {
  h2 {
    font-size: 20px;
    text-align: center;
  }
}

#first {
  width: 100%;
}

#second {
  width: 100%;
}
#second h2 {
  text-align: center;
}

.highlight {
  background: linear-gradient(359deg, #ec4899, #8b5cf6);
  text-fill-color: transparent;
  background-clip: text;
  background: -webkit-linear-gradient(359deg, #ec4899, #8b5cf6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.company-box {
  display: flex;
  padding-top: 150px;
}
.company-box .company-content {
  color: #fff;
}
.company-box .company-content,
.company-box .company-effect {
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .company-box .company-content,
.company-box .company-effect {
    width: 100%;
    margin-top: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .company-box {
    display: block;
    padding-top: 35px;
  }
}

#drag-container,
#spin-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-10deg);
  transform: rotateX(-10deg);
}

#drag-container img,
#drag-container video {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  border-radius: 100px;
  line-height: 200px;
  font-size: 50px;
  text-align: center;
  -webkit-box-shadow: 0 0 8px #fff;
  box-shadow: 0 0 8px #fff;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.3333333333));
}
#drag-container img:hover,
#drag-container video:hover {
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.8666666667);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8666666667);
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4666666667));
}

#drag-container p p {
  font-family: Serif;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg);
  transform: translate(-50%, -50%) rotateX(90deg);
  color: #fff;
}

#ground {
  display: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes spinRevert {
  from {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes spinRevert {
  from {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
#myImg,
#myImg2,
#myImg3,
#myImg4,
#myImg5,
#myImg6,
#myImg7 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg {
  width: 20%;
  background: #8b5cf6;
}
#myImg:hover {
  opacity: 0.7;
}

#myImg2 {
  background-color: #0f91b3;
}
#myImg2:hover {
  opacity: 0.7;
}

#myImg3 {
  background: #17bf81;
}
#myImg3:hover {
  opacity: 0.7;
}

#myImg4 {
  background: #1fe45d;
}
#myImg4:hover {
  opacity: 0.7;
}

#myImg5 {
  background-color: #e15916;
}
#myImg5:hover {
  opacity: 0.7;
}

#myImg6 {
  background-color: #a62c4a;
}
#myImg6:hover {
  opacity: 0.7;
}

#myImg7 {
  background: #ec4899;
}
#myImg7:hover {
  opacity: 0.7;
}

.modal {
  left: 37%;
  top: 25%;
  display: none;
  position: absolute;
  width: 69%;
}
@media (max-width: 767px) {
  .modal {
    left: 0;
    width: 100%;
    top: 60%;
  }
}

.interior-modal {
  background: #fcf7f1;
  position: relative;
  width: 65%;
  padding: 55px 85px;
  margin: 0% auto;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

h3.titulo-modal {
  font-family: "Gooper", Sans-serif;
  text-align: left;
  font-size: 67px;
  margin-top: 65px;
  margin-bottom: 12px;
}

.modal-content {
  margin: 0 auto;
  display: initial;
  width: 30%;
  float: left;
  max-width: 700px;
}

p.modal-p {
  font-family: "CartographCF", Sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  font-size: 20px;
  word-break: break-word;
}

.modal-text {
  float: left;
  width: 50%;
  display: block;
  position: relative;
  margin-left: 70px;
  margin-top: -75px;
}

/* Add Animation */
.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
.close,
.close2,
.close3,
.close4,
.close5,
.close6,
.close7 {
  font-family: "Gooper", Sans-serif;
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close,
.close2,
.close3,
.close4,
.close5,
.close6,
.close7:hover,
.close,
.close2,
.close3,
.close4,
.close5,
.close6,
.close7:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.websites {
  display: flex;
  margin-left: 42px;
  padding-top: 150px;
}
@media (max-width: 767px) {
  .websites {
    display: block;
    margin-left: initial;
    padding-top: 60px;
  }
}

.left-web,
.right-web {
  width: 50%;
}
@media (max-width: 767px) {
  .left-web,
.right-web {
    width: 100%;
  }
}

/*SNIPPET BY MY CODEPEN*/
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 60%;
    margin-bottom: -50px;
    float: inherit;
  }
  .modal-text {
    float: initial;
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .interior-modal {
    width: 90%;
    padding: 55px 16px;
  }
  h3.titulo-modal {
    font-size: 45px;
    text-align: center;
  }
  p.modal-p {
    font-size: 15px;
    text-align: center;
  }
}
ul.ul-port {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.ul-port li.item-port {
  display: block;
  font-family: "Belleza", sans-serif;
  position: relative;
  font-size: 50px;
  text-align: left;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  margin-bottom: 80px;
  text-align: center;
  z-index: 1;
  padding: 20px;
}
@media only screen and (max-width: 767px) {
  ul.ul-port li.item-port {
    font-size: 32px;
  }
}

img.img-port {
  position: absolute;
  width: 400px;
  height: 200px;
  object-fit: cover;
  transform: translateX(25%) translateY(-45%);
  top: 50%;
  right: 35px;
  z-index: -10;
  opacity: 0;
  visibily: hidden;
  pointer-events: none;
}
@media (max-width: 767px) {
  img.img-port {
    top: 50%;
    right: -50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}

/*# sourceMappingURL=style.css.map */
